In [1]:
import sqlite3
import random
import string

### 练习1
创建 university 数据库 \
创建students表  \
  至少包括 ID，姓名，性别，年龄等必要字段，并自己为这些字段选择合适的字段类型

In [2]:
# 数据库文件是university.db，不存在，则自动创建
with sqlite3.connect('university.db') as db:
# 创建一个cursor：
    cursor = db.cursor()

In [3]:
# 执行一条SQL语句：创建students表
cursor.execute('drop table if exists students')
cursor.execute('create table if not exists students( \
    id integer primary key, \
    name text not null, \
    gender text not null, \
    age intger not null, \
    major text not null)')
db.commit()

### 练习2
增加和更新students 表的数据 \
至少有3名同学（周边）

在university 数据库中建立class表 \
增加和更新表的数据

至少有三门以上课程   \
提示，至少包括课号，课程名，教师。

In [4]:
# 插入数据：
genders = ['male', 'female']
majors = ['Math', 'CS', 'Finance', 'Economics']

for i in range(20):
    name = ''.join(random.sample(string.ascii_lowercase, 5))
    gender = genders[random.randint(0, 1)]
    age = random.randint(12, 24)
    major = majors[random.randint(0, 3)]
    cursor.execute('insert into students (id, name,gender,age,major) \
        values ({},"{}","{}",{},"{}")'.format(i+1, name, gender, age, major))
db.commit()

In [5]:
cursor.execute('select * from students')
print('---------------students--------------------')
for x in cursor.fetchall():
    print(x)

---------------students--------------------
(1, 'tlqkb', 'female', 22, 'Economics')
(2, 'tjaur', 'female', 20, 'Math')
(3, 'kqrwd', 'male', 21, 'CS')
(4, 'tbohl', 'male', 13, 'Finance')
(5, 'enjld', 'male', 18, 'Math')
(6, 'vjqgc', 'female', 22, 'Finance')
(7, 'kopln', 'male', 23, 'Math')
(8, 'qtepu', 'female', 20, 'Math')
(9, 'hnyep', 'female', 22, 'CS')
(10, 'bskir', 'female', 24, 'Math')
(11, 'fdkmq', 'female', 15, 'CS')
(12, 'kmnja', 'male', 24, 'Economics')
(13, 'qhgib', 'female', 14, 'Economics')
(14, 'kfzbu', 'male', 13, 'Math')
(15, 'xrecb', 'male', 23, 'Economics')
(16, 'egdka', 'male', 14, 'Math')
(17, 'guwkt', 'male', 15, 'Finance')
(18, 'uedon', 'female', 23, 'Economics')
(19, 'eygjx', 'female', 23, 'Math')
(20, 'fwhpu', 'male', 20, 'Finance')

In [6]:
# 执行一条SQL语句：创建class表
cursor.execute('drop table if exists class')
cursor.execute('create table if not exists class( \
    class_id integer primary key, \
    class_name text, \
    lecture text, \
    credit integer )')

classes = ['Python', 'Java', 'C++', 'C', 'R', 'Go']
lectures = ['Adam', 'Bob', 'Cyrus', 'Dan', 'Eric', 'Frank']
Credits = [3, 2, 3, 2, 1, 1]
for i in range(6):
    cursor.execute('insert into class (class_id, class_name,lecture,credit) \
        values ({},"{}","{}",{})'.format(i+1, classes[i], lectures[i], Credits[i]))
db.commit()

In [7]:
cursor.execute('select * from class')
print('---------------class--------------------')
for x in cursor.fetchall():
    print(x)

---------------class--------------------
(1, 'Python', 'Adam', 3)
(2, 'Java', 'Bob', 2)
(3, 'C++', 'Cyrus', 3)
(4, 'C', 'Dan', 2)
(5, 'R', 'Eric', 1)
(6, 'Go', 'Frank', 1)

### 练习3
在university 数据库中创建选课表enrolled表;\
至少包括：学生ID，选课的课号，考试分数   \
增加和更新表的数据

In [8]:
# 执行一条SQL语句：创建enrolled表
cursor.execute('drop table if exists enrolled')
cursor.execute('create table if not exists enrolled( \
    student_id integer,  \
    class_id integer, \
    credit integer, \
    score integer, \
    primary key(student_id,class_id) )')

for i in range(20):
    student_id = i+1
    for j in range(random.randint(1, 6)):
        class_id = j+1
        credit = Credits[j]
        score = random.randint(0, 100)
        cursor.execute('insert into enrolled (student_id,class_id, credit,score) \
            values ({},{},{},{})'.format(student_id, class_id, credit, score))
db.commit()

In [9]:
cursor.execute('select * from enrolled')
print('---------------students--------------------')
for x in cursor.fetchall():
    print(x)

---------------students--------------------
(1, 1, 3, 41)
(2, 1, 3, 25)
(2, 2, 2, 45)
(2, 3, 3, 26)
(2, 4, 2, 22)
(3, 1, 3, 94)
(3, 2, 2, 20)
(3, 3, 3, 8)
(3, 4, 2, 44)
(4, 1, 3, 43)
(4, 2, 2, 42)
(4, 3, 3, 48)
(4, 4, 2, 7)
(5, 1, 3, 68)
(5, 2, 2, 52)
(5, 3, 3, 44)
(5, 4, 2, 89)
(6, 1, 3, 81)
(6, 2, 2, 14)
(6, 3, 3, 68)
(6, 4, 2, 93)
(6, 5, 1, 34)
(6, 6, 1, 69)
(7, 1, 3, 97)
(7, 2, 2, 14)
(7, 3, 3, 90)
(7, 4, 2, 24)
(7, 5, 1, 47)
(7, 6, 1, 50)
(8, 1, 3, 5)
(9, 1, 3, 96)
(9, 2, 2, 38)
(10, 1, 3, 19)
(10, 2, 2, 25)
(10, 3, 3, 53)
(10, 4, 2, 77)
(10, 5, 1, 23)
(11, 1, 3, 0)
(12, 1, 3, 78)
(12, 2, 2, 38)
(12, 3, 3, 36)
(12, 4, 2, 41)
(12, 5, 1, 57)
(12, 6, 1, 56)
(13, 1, 3, 99)
(13, 2, 2, 73)
(13, 3, 3, 28)
(13, 4, 2, 86)
(14, 1, 3, 18)
(14, 2, 2, 64)
(14, 3, 3, 82)
(14, 4, 2, 42)
(14, 5, 1, 93)
(15, 1, 3, 85)
(15, 2, 2, 28)
(15, 3, 3, 37)
(15, 4, 2, 26)
(15, 5, 1, 36)
(15, 6, 1, 85)
(16, 1, 3, 24)
(17, 1, 3, 62)
(17, 2, 2, 23)
(17, 3, 3, 62)
(17, 4, 2, 46)
(17, 5, 1, 83)
(17, 6, 1, 21)
(18, 1, 3, 87)
(18, 2, 2, 78)
(19, 1, 3, 37)
(19, 2, 2, 40)
(19, 3, 3, 39)
(19, 4, 2, 41)
(19, 5, 1, 89)
(20, 1, 3, 100)
(20, 2, 2, 7)
(20, 3, 3, 2)

Could not parse rfc1738 URL from string 'university.db'### 练习4

使用 INNER JOIN 查询学生的个人信息和每个课程的分数。

In [10]:
# 查询学生的个人信息及分数
cursor.execute('select id,name,gender,age,major,class_name,credit,score \
                from students s inner join \
                    (select student_id,class_name,c.credit,score from class c \
                        inner join enrolled e on c.class_id = e.class_id)tc \
                on s.id =tc.student_id')
print('---------------inner join--------------------')
for x in cursor.fetchall():
    print(x)

---------------inner join--------------------
(1, 'tlqkb', 'female', 22, 'Economics', 'Python', 3, 41)
(2, 'tjaur', 'female', 20, 'Math', 'Python', 3, 25)
(2, 'tjaur', 'female', 20, 'Math', 'Java', 2, 45)
(2, 'tjaur', 'female', 20, 'Math', 'C++', 3, 26)
(2, 'tjaur', 'female', 20, 'Math', 'C', 2, 22)
(3, 'kqrwd', 'male', 21, 'CS', 'Python', 3, 94)
(3, 'kqrwd', 'male', 21, 'CS', 'Java', 2, 20)
(3, 'kqrwd', 'male', 21, 'CS', 'C++', 3, 8)
(3, 'kqrwd', 'male', 21, 'CS', 'C', 2, 44)
(4, 'tbohl', 'male', 13, 'Finance', 'Python', 3, 43)
(4, 'tbohl', 'male', 13, 'Finance', 'Java', 2, 42)
(4, 'tbohl', 'male', 13, 'Finance', 'C++', 3, 48)
(4, 'tbohl', 'male', 13, 'Finance', 'C', 2, 7)
(5, 'enjld', 'male', 18, 'Math', 'Python', 3, 68)
(5, 'enjld', 'male', 18, 'Math', 'Java', 2, 52)
(5, 'enjld', 'male', 18, 'Math', 'C++', 3, 44)
(5, 'enjld', 'male', 18, 'Math', 'C', 2, 89)
(6, 'vjqgc', 'female', 22, 'Finance', 'Python', 3, 81)
(6, 'vjqgc', 'female', 22, 'Finance', 'Java', 2, 14)
(6, 'vjqgc', 'female', 22, 'Finance', 'C++', 3, 68)
(6, 'vjqgc', 'female', 22, 'Finance', 'C', 2, 93)
(6, 'vjqgc', 'female', 22, 'Finance', 'R', 1, 34)
(6, 'vjqgc', 'female', 22, 'Finance', 'Go', 1, 69)
(7, 'kopln', 'male', 23, 'Math', 'Python', 3, 97)
(7, 'kopln', 'male', 23, 'Math', 'Java', 2, 14)
(7, 'kopln', 'male', 23, 'Math', 'C++', 3, 90)
(7, 'kopln', 'male', 23, 'Math', 'C', 2, 24)
(7, 'kopln', 'male', 23, 'Math', 'R', 1, 47)
(7, 'kopln', 'male', 23, 'Math', 'Go', 1, 50)
(8, 'qtepu', 'female', 20, 'Math', 'Python', 3, 5)
(9, 'hnyep', 'female', 22, 'CS', 'Python', 3, 96)
(9, 'hnyep', 'female', 22, 'CS', 'Java', 2, 38)
(10, 'bskir', 'female', 24, 'Math', 'Python', 3, 19)
(10, 'bskir', 'female', 24, 'Math', 'Java', 2, 25)
(10, 'bskir', 'female', 24, 'Math', 'C++', 3, 53)
(10, 'bskir', 'female', 24, 'Math', 'C', 2, 77)
(10, 'bskir', 'female', 24, 'Math', 'R', 1, 23)
(11, 'fdkmq', 'female', 15, 'CS', 'Python', 3, 0)
(12, 'kmnja', 'male', 24, 'Economics', 'Python', 3, 78)
(12, 'kmnja', 'male', 24, 'Economics', 'Java', 2, 38)
(12, 'kmnja', 'male', 24, 'Economics', 'C++', 3, 36)
(12, 'kmnja', 'male', 24, 'Economics', 'C', 2, 41)
(12, 'kmnja', 'male', 24, 'Economics', 'R', 1, 57)
(12, 'kmnja', 'male', 24, 'Economics', 'Go', 1, 56)
(13, 'qhgib', 'female', 14, 'Economics', 'Python', 3, 99)
(13, 'qhgib', 'female', 14, 'Economics', 'Java', 2, 73)
(13, 'qhgib', 'female', 14, 'Economics', 'C++', 3, 28)
(13, 'qhgib', 'female', 14, 'Economics', 'C', 2, 86)
(14, 'kfzbu', 'male', 13, 'Math', 'Python', 3, 18)
(14, 'kfzbu', 'male', 13, 'Math', 'Java', 2, 64)
(14, 'kfzbu', 'male', 13, 'Math', 'C++', 3, 82)
(14, 'kfzbu', 'male', 13, 'Math', 'C', 2, 42)
(14, 'kfzbu', 'male', 13, 'Math', 'R', 1, 93)
(15, 'xrecb', 'male', 23, 'Economics', 'Python', 3, 85)
(15, 'xrecb', 'male', 23, 'Economics', 'Java', 2, 28)
(15, 'xrecb', 'male', 23, 'Economics', 'C++', 3, 37)
(15, 'xrecb', 'male', 23, 'Economics', 'C', 2, 26)
(15, 'xrecb', 'male', 23, 'Economics', 'R', 1, 36)
(15, 'xrecb', 'male', 23, 'Economics', 'Go', 1, 85)
(16, 'egdka', 'male', 14, 'Math', 'Python', 3, 24)
(17, 'guwkt', 'male', 15, 'Finance', 'Python', 3, 62)
(17, 'guwkt', 'male', 15, 'Finance', 'Java', 2, 23)
(17, 'guwkt', 'male', 15, 'Finance', 'C++', 3, 62)
(17, 'guwkt', 'male', 15, 'Finance', 'C', 2, 46)
(17, 'guwkt', 'male', 15, 'Finance', 'R', 1, 83)
(17, 'guwkt', 'male', 15, 'Finance', 'Go', 1, 21)
(18, 'uedon', 'female', 23, 'Economics', 'Python', 3, 87)
(18, 'uedon', 'female', 23, 'Economics', 'Java', 2, 78)
(19, 'eygjx', 'female', 23, 'Math', 'Python', 3, 37)
(19, 'eygjx', 'female', 23, 'Math', 'Java', 2, 40)
(19, 'eygjx', 'female', 23, 'Math', 'C++', 3, 39)
(19, 'eygjx', 'female', 23, 'Math', 'C', 2, 41)
(19, 'eygjx', 'female', 23, 'Math', 'R', 1, 89)
(20, 'fwhpu', 'male', 20, 'Finance', 'Python', 3, 100)
(20, 'fwhpu', 'male', 20, 'Finance', 'Java', 2, 7)
(20, 'fwhpu', 'male', 20, 'Finance', 'C++', 3, 2)

创建视图备选做练习使用

In [11]:
#创建视图以便查询
cursor.execute('drop view if exists score')
cursor.execute('create view score as \
    select id,name,class_name,credit,score            \
    from students s inner join\
    (select student_id,class_name,c.credit,score from class c inner join enrolled e on c.class_id = e.class_id)tc \
    on s.id =tc.student_id')
db.commit()

In [12]:
# 查询视图
cursor.execute('select * from score')
print('-----------------------------------')
for x in cursor.fetchall():
    print(x)

-----------------------------------
(1, 'tlqkb', 'Python', 3, 41)
(2, 'tjaur', 'Python', 3, 25)
(2, 'tjaur', 'Java', 2, 45)
(2, 'tjaur', 'C++', 3, 26)
(2, 'tjaur', 'C', 2, 22)
(3, 'kqrwd', 'Python', 3, 94)
(3, 'kqrwd', 'Java', 2, 20)
(3, 'kqrwd', 'C++', 3, 8)
(3, 'kqrwd', 'C', 2, 44)
(4, 'tbohl', 'Python', 3, 43)
(4, 'tbohl', 'Java', 2, 42)
(4, 'tbohl', 'C++', 3, 48)
(4, 'tbohl', 'C', 2, 7)
(5, 'enjld', 'Python', 3, 68)
(5, 'enjld', 'Java', 2, 52)
(5, 'enjld', 'C++', 3, 44)
(5, 'enjld', 'C', 2, 89)
(6, 'vjqgc', 'Python', 3, 81)
(6, 'vjqgc', 'Java', 2, 14)
(6, 'vjqgc', 'C++', 3, 68)
(6, 'vjqgc', 'C', 2, 93)
(6, 'vjqgc', 'R', 1, 34)
(6, 'vjqgc', 'Go', 1, 69)
(7, 'kopln', 'Python', 3, 97)
(7, 'kopln', 'Java', 2, 14)
(7, 'kopln', 'C++', 3, 90)
(7, 'kopln', 'C', 2, 24)
(7, 'kopln', 'R', 1, 47)
(7, 'kopln', 'Go', 1, 50)
(8, 'qtepu', 'Python', 3, 5)
(9, 'hnyep', 'Python', 3, 96)
(9, 'hnyep', 'Java', 2, 38)
(10, 'bskir', 'Python', 3, 19)
(10, 'bskir', 'Java', 2, 25)
(10, 'bskir', 'C++', 3, 53)
(10, 'bskir', 'C', 2, 77)
(10, 'bskir', 'R', 1, 23)
(11, 'fdkmq', 'Python', 3, 0)
(12, 'kmnja', 'Python', 3, 78)
(12, 'kmnja', 'Java', 2, 38)
(12, 'kmnja', 'C++', 3, 36)
(12, 'kmnja', 'C', 2, 41)
(12, 'kmnja', 'R', 1, 57)
(12, 'kmnja', 'Go', 1, 56)
(13, 'qhgib', 'Python', 3, 99)
(13, 'qhgib', 'Java', 2, 73)
(13, 'qhgib', 'C++', 3, 28)
(13, 'qhgib', 'C', 2, 86)
(14, 'kfzbu', 'Python', 3, 18)
(14, 'kfzbu', 'Java', 2, 64)
(14, 'kfzbu', 'C++', 3, 82)
(14, 'kfzbu', 'C', 2, 42)
(14, 'kfzbu', 'R', 1, 93)
(15, 'xrecb', 'Python', 3, 85)
(15, 'xrecb', 'Java', 2, 28)
(15, 'xrecb', 'C++', 3, 37)
(15, 'xrecb', 'C', 2, 26)
(15, 'xrecb', 'R', 1, 36)
(15, 'xrecb', 'Go', 1, 85)
(16, 'egdka', 'Python', 3, 24)
(17, 'guwkt', 'Python', 3, 62)
(17, 'guwkt', 'Java', 2, 23)
(17, 'guwkt', 'C++', 3, 62)
(17, 'guwkt', 'C', 2, 46)
(17, 'guwkt', 'R', 1, 83)
(17, 'guwkt', 'Go', 1, 21)
(18, 'uedon', 'Python', 3, 87)
(18, 'uedon', 'Java', 2, 78)
(19, 'eygjx', 'Python', 3, 37)
(19, 'eygjx', 'Java', 2, 40)
(19, 'eygjx', 'C++', 3, 39)
(19, 'eygjx', 'C', 2, 41)
(19, 'eygjx', 'R', 1, 89)
(20, 'fwhpu', 'Python', 3, 100)
(20, 'fwhpu', 'Java', 2, 7)
(20, 'fwhpu', 'C++', 3, 2)

In [13]:
# 关闭Cursor:
cursor.close()
# 关闭connection：
db.close()

### 练习5
Pandas直接读取在university 数据库中enrolled表

In [14]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///university.db')
with engine.connect() as conn, conn.begin():
    data = pd.read_sql_table('enrolled', conn)
    print(data)

    student_id  class_id  credit  score
0            1         1       3     41
1            2         1       3     25
2            2         2       2     45
3            2         3       3     26
4            2         4       2     22
..         ...       ...     ...    ...
71          19         4       2     41
72          19         5       1     89
73          20         1       3    100
74          20         2       2      7
75          20         3       3      2

[76 rows x 4 columns]

### 选做练习
结合Tkinter，做一个成绩查询的SQLite系统 \
提示：  \
创建一个查询按钮，查询所有students表

## test_tkinter.py
   简单的成绩查询界面

from tkinter import *
from tkinter import ttk
from tkinter import messagebox
import sqlite3

def query():
    id=in_id.get()
    name=in_name.get()
    course=in_co.get()
    #清空treeview
    items=tree.get_children()
    for item in items:
        tree.delete(item)
    #查询条件
    q_id = ''if id=='' else 'id='+id
    q_name = '' if name=='' else 'name="{}"'.format(name)
    q1 = ' and ' if (q_id!='' and q_name!='') else ''
    q_course = '' if course=='' else 'class_name="{}"'.format(course)
    q2 = ' and ' if ((q_id+q_name)!='' and q_course!='') else ''
    q = q_id+q1+q_name+q2+q_course
    q = q if q=='' else ' where '+q
    print(q)
    #执行查询,插入结果到表格
#    cursor.execute('select * from score'+q)
    cursor.execute('select * from students'+q)
    count=0  
    for item in cursor.fetchall():
        tree.insert('','end',values=item)
        count+=1
    if count==0:
        messagebox.showinfo('提醒','未查询到相关结果')

# 数据库文件是university.db，不存在，则自动创建
with sqlite3.connect('university.db') as db:
# 创建一个cursor：
    cursor = db.cursor()

# 创建主窗口对象
root = Tk()
# 设置初始化界面大小
root.geometry('600x400')
root.resizable(False, False)
# 窗口标题
root.title("成绩查询系统")

frame1 = Frame(root)
frame2 = Frame(root)
 
frame1.pack(side='top',ipady=10)
frame2.pack()

lb_id=Label(frame1,text='学号').pack(side='left')
in_id=Entry(frame1,width=10)
in_id.pack(side='left',padx=10)
lb_name=Label(frame1,text='姓名').pack(side='left')
in_name=Entry(frame1,width=10)
in_name.pack(side='left',padx=10)
lb_co=Label(frame1,text='课程').pack(side='left')
in_co=Entry(frame1,width=10)
in_co.pack(side='left',padx=10)

bt_query = Button(frame1,text = '查询',command = query)
bt_query.pack(side='right',padx=10)

tree=ttk.Treeview(frame2,show="headings")   #表格
tree['columns']=('学号','姓名','课程','学分','成绩')
tree.column('学号',width=100,anchor='center')   #表示列,不显示
tree.column('姓名',width=80,anchor='center')
tree.column('课程',width=100,anchor='center')
tree.column('学分',width=50,anchor='center') 
tree.column('成绩',width=80,anchor='center')

tree.heading('学号',text='学号')  #显示表头
tree.heading('姓名',text='姓名')
tree.heading('课程',text='课程')
tree.heading('学分',text='学分')
tree.heading('成绩',text='成绩')

#滚动条
vbar = ttk.Scrollbar(frame2,orient=VERTICAL,command=tree.yview)
tree.configure(yscrollcommand=vbar.set)
vbar.pack(side='right',fill='y')

hbar = ttk.Scrollbar(frame2,orient=HORIZONTAL,command=tree.xview)
tree.configure(xscrollcommand=hbar.set)
hbar.pack(side='bottom',fill='x')
tree.pack()

#关闭窗口时断开数据库
def on_closing():
    # 关闭Cursor:
    cursor.close()
    # 关闭connection：
    db.close() 
    root.destroy()

root.protocol("WM_DELETE_WINDOW", on_closing)

# 加入消息循环
root.mainloop()