In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\18810\appdata\local\programs\python\python39\lib\site-packages (2.8.6)

In [2]:
%load_ext sql

In [3]:
%sql postgresql://gpadmin:gpdb2020@101.6.160.22:4132/testdb

# 创建Company表

In [4]:
%%sql
drop table if exists company;
create table company (
    cname varchar primary key, -- company name uniquely identifies the company.
    stockprice money, -- stock price is in money 
    country varchar); -- country is just a string
insert into company values ('GizmoWorks', 25.0, 'USA');
insert into company values ('Canon', 65.0, 'Japan');
insert into company values ('Hitachi', 15.0, 'Japan');

 * postgresql://gpadmin:***@101.6.160.22:4132/testdb
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.

[]

# 创建Purchase表

In [5]:
%%sql
DROP TABLE IF EXISTS purchase;
-- Note that date is an int here just to simplify things
CREATE TABLE purchase (bagel_name TEXT, franchise TEXT, date INT, quantity INT, purchaser_age INT);
INSERT INTO purchase VALUES ('Plain with shmear', 'Bobs Bagels', 1, 12, 28);
INSERT INTO purchase VALUES ('Egg with shmear', 'Bobs Bagels', 2, 6, 47);
INSERT INTO purchase VALUES ('Plain with shmear', 'BAGEL CORP', 2, 12, 24);
INSERT INTO purchase VALUES ('Plain with shmear', 'BAGEL CORP', 3, 1, 17);
INSERT INTO purchase VALUES ('eBagel Expansion Pack', 'eBagel', 1, 137, 5);
INSERT INTO purchase VALUES ('Plain with shmear', 'Bobs Bagels', 4, 24, NULL);

 * postgresql://gpadmin:***@101.6.160.22:4132/testdb
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

# 创建Product表

In [6]:
%%sql drop table if exists product;
create table product(
       name        varchar primary key, -- name of the product
       price        money,               -- price of the product
       category     varchar,             -- category
       maker varchar NOT NULL     -- manufacturer
);
insert into product values('Gizmo', 19.99, 'Gadgets', 'GizmoWorks');
insert into product values('PowerGizmo', 29.99, 'Gadgets', 'GizmoWorks');
insert into product values('SingleTouch', 149.99, 'Photography', 'Canon');
insert into product values('MultiTouch', 203.99, 'Household', 'Hitachi');

 * postgresql://gpadmin:***@101.6.160.22:4132/testdb
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

# Primary Key

In [7]:
try:
    %sql insert into product values('MultiTouch', 203.99, 'Household', 'Google');
except Exception as e:
    print(e) 
    print("Rejected!")

 * postgresql://gpadmin:***@101.6.160.22:4132/testdb
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "product_pkey"  (seg1 10.0.1.43:6000 pid=14077)
DETAIL:  Key (name)=(MultiTouch) already exists.

[SQL: insert into product values('MultiTouch', 203.99, 'Household', 'Google');]
(Background on this error at: http://sqlalche.me/e/13/gkpj)
Rejected!

# Operations

### ALL

Find products that are more expensive than all those 
produced by “Gizmo-Works”

In [8]:
%%sql
SELECT name
FROM Product
WHERE price>ALL(
                SELECT price
                FROM Product
                WHERE maker = 'Gizmo-Works')

 * postgresql://gpadmin:***@101.6.160.22:4132/testdb
4 rows affected.

[('PowerGizmo',), ('MultiTouch',), ('Gizmo',), ('SingleTouch',)]

### EXISTS

Find ‘copycat’ products, i.e. products made by competitors with the same names as products made by “Gizmo·Works”

In [9]:
%%sql
SELECT p1.name
FROM Product p1
WHERE p1.maker = 'Gizmo-Works'
    AND EXISTS(
                SELECT p2.name
                FROM Product p2
                WHERE p2.maker <> 'Gizmo-Works'
                  AND p1.name = p2.name)

 * postgresql://gpadmin:***@101.6.160.22:4132/testdb
0 rows affected.

[]